.btn {
  padding: 2px 5px;
  border: none;
  border-radius: 4px;
  width: 90px;
  height: 35px;
}
.btn:hover {
  color: rgb(36, 49, 34);
  box-shadow: 0 0 2px 2px rgb(255, 4, 0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
